html {
    background-color: black;
    font-family: Verdana;
    text-align: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

header p {
    color: aqua;
    font-size: 16px;
}

